.contract-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & button {
    width: auto;
    padding: var(--spacing-ref);
  }

  & button svg {
    padding-left: calc(var(--spacing-ref) * 0.5);
  }
}

.contract-container h1 {
  font-size: clamp(
    calc(var(--font-size) * 2.8),
    10vw,
    calc(var(--font-size) * 10)
  );
  letter-spacing: 1px;
  font-family: var(--title-font);
  text-shadow: 4px 0px 0px #662c91;
}

.contract-container {
  & .contract-content {
    border-radius: var(--radius-ref);
    box-shadow: inset 0px 0px 4px 1px #662c91;
    padding: calc(var(--spacing-ref) * 2);
    background-color: var(--background-color-modal);
    text-align: center;
    width: clamp(5rem, 80vw, 80vw);
  }
}
.contract-container p {
  padding: var(--spacing-ref);
  font-family: var(--text-font);
  font-size: clamp(var(--font-size), 1.2rem, calc(var(--font-size) * 1.5));
  overflow-wrap: break-word;
}
.interaction-container {
  padding: var(--spacing-ref);
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
}

.send-more-container {
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    font-size: calc(var(--font-size) * 1.2);
    width: 7rem;
  }

  & input[type="number"] {
    background-color: var(--text-color);
    border-radius: calc(var(--radius-ref) * 2);
  }

  & input[type="number"]:focus {
    border: 1px solid white;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .interaction-container {
    display: flex;
  }
}
