.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(20rem, 50vw, 50vw);
  background-color: var(--background-color-modal);
  border-radius: var(--radius-ref);
  padding: 2rem;
}

.modal-wallet {
  justify-self: end;

  & button {
    font-size: calc(var(--font-size) * 0.9);
  }
}

#connect-title {
  font-family: var(--text-font);
  letter-spacing: 1px;
  font-size: clamp(
    calc(var(--font-size) * 0.7),
    1.5rem,
    calc(var(--font-size) * 1.5)
  );
}

.modal-container {
  text-align: center;
}

#connect-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  & button {
    font-size: calc(var(--font-size) * 0.9);
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  & img {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  #connect-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & .MetaMask {
      justify-self: end;
    }

    & .error {
      grid-column: span 2;
    }
  }
}
