@font-face {
  font-family: "Satoshi-Black";
  src:
    url("../../src/public/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../../src/public/fonts/Satoshi-Black.woff") format("woff"),
    url("../../src/public/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Regular";
  src:
    url("../../src/public/fonts/Switzer-Regular.woff2") format("woff2"),
    url("../../src/public/fonts/Switzer-Regular.woff") format("woff"),
    url("../../src/public/fonts/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --background-color: #181818;
  --background-color-modal: #282828;
  --background-color-button: #383838;
  --background-color-button-hover: #484848;
  --text-color: rgba(255, 255, 255, 0.87);
  --title-font: "Satoshi-Black";
  --text-font: "Switzer-Regular";
  --font-size: 1rem;
  --spacing-ref: 1rem;
  --radius-ref: 8px;
  --input-width: 10rem;
  --input-height: 2rem;
  --line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

p,
a {
  font-family: var(--text-font);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
