.navbar {
  padding: calc(var(--spacing-ref) * 2);

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-ref);
  }

  & img {
    border-radius: 50%;
  }

  & button {
    width: 10rem;
    height: auto;
    font-size: calc(var(--font-size) * 0.9);
  }
}
